<h1>Your chosen product</h1>
<%= @product.description %>
<% @product.all_photos.each do |photo| %>
<%= image_tag photo.image %>
<% end %>
<%= @product.price %>

<%= current_user ? (link_to "buy", user_cart_index_path(current_user)):(link_to "buy", new_user_registration_path) %>
